/* shard style related */
body{
    font-family: 'Open Sans', sans-serif;
}

/* headeer related style */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat:no-repeat;
    background-position:bottom right;
}
.section-title{
    color:#181818;
    text-align:center;
    font-size:35px;
    font-weight:700;
}
.section-description{
    color: #757575;
    text-align:center;
    font-size: 18px;
}

/* nav related style */

nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:0 200px;
   
}
.bhai-title{
    font-size:45px;
    font-weight: 700;
   
}

nav > ul{
    display:flex;
    align-items: center;
   
}
nav li{
    list-style:none;
    /* text-align: center; */
}
nav a{
    text-decoration:none;
    margin-right:50px;
}

.text-primary{
    color:orange;
}

.bac-title{
    background:orange;
    border-radius:5px;
    color:white;
    font-size:25px;
    font-weight:700;
    padding: 15px 35px;
    border:0;
}
 .banner{
    padding: 30px 30px 0px 150px;
    display:flex;
    align-items: center;
    justify-content:space-between;
 }
.banner-content{
    max-width: 500px;
}

 .banner,.profile-pic{
    display:flex;

 }
 .profile-pic{
    width:auto;
 }
 .banner-title{
    font-size:45px;
    color:#474747;
    margin-bottom:0;
 }

 .banner-heading{
    font-size:45px;
    font-weight:700;
    margin-top:5px;
    margin-bottom:20px;
 }
 /* main section style */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }

 .about-info-our{
    display:flex;
    justify-content: space-around;

 }

 .about-info{
    text-align:center;
 }

#What-i-do-description{
 padding:30px 130px;
 text-align:center;
}



 /*About main secetion style */
 .content{
    padding:130px;
    background-color:#FFF8F3;
    margin: 150px 0;
 }